@import "https://fonts.googleapis.com/css?family=Roboto:400&display=swap";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.body {
  font-family: "Roboto", sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.link {
  text-decoration: none;
  font-size: 12px;
  margin-bottom: 20px;
  margin-top: 20px;
  font-weight: bold;

}

.text {
  position: absolute;
  top: 5px;
  margin-top: 15px;
}
.text-mute {
  position: absolute;
  top: 45px;
  margin-top: 20px;
  font-size: 12px;
  font-weight: 600;
  color: rgb(87, 85, 85);
}
